name: ci

on:
  push:
    branches:
    - master
    tags:
    - "*"
  pull_request:
    branches:
    - master
    tags:
    - "*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: goenv
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: build
      run: make build
    - name: test
      run: make run-test
    - name: uploadcoverage
      run: bash <(curl -s https://codecov.io/bash)
